.idea
.virtualenv
ghostdriver.log
*.pyc
node_modules/
static/
__MACOSX
.DS_Store
npm-debug.log
*.egg-info
tests/.cache
__pycache__
.cache
*.retry
.coverage
.vscode
.env
venv

#react
/node_modules
/.pnp
.pnp.js
# testing
/coverage

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
